<a href="https://colab.research.google.com/github/admulkay/admulkay/blob/main/Class_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the libraries

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

Importing the dataset

In [ ]:
dataset = pd.read_csv('/content/drive/MyDrive/Salary_Data.csv')
dataset.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [ ]:
dataset.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

In [ ]:
dataset.describe(include= "object") #statistical information on column type string

ValueError: ignored

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [ ]:
dataset.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

In [ ]:
dataset['State'],unique()

KeyError: ignored

In [ ]:
#we have to create the x=independent variable
#we have to create the Y=Dependent variable

In [ ]:
dataset.iloc[5,1] #row 5 of columns

56642.0

In [ ]:
dataset.iloc[0:5,1]

0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
Name: Salary, dtype: float64

In [ ]:
dataset.iloc[0:5,2:4]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [ ]:
datset.iloc[z,-1]

NameError: ignored

In [ ]:
X=dataset.iloc[z,:z-1].values #it will take the values of each column except the last column
y=dataset.iloc[z, -1].values #it will take the values of only

In [ ]:
X