<a href="https://colab.research.google.com/github/admulkay/admulkay/blob/main/Introduction_to_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#Ways of creating a Pandas DataFrame
#Passing in a dictionary:
import pandas as pd
data = {'name':['Anthony', 'Maria'], 
      'age':[30, 28]}
df = pd.DataFrame(data)

In [9]:
#PASSING IN A LIST OF LISTS:
data = [['Tom', 20], ['Jack', 30], ['Meera', 25]]
df = pd.DataFrame(data, columns= ['Name', 'Age'])

In [ ]:
#Reading data from a csv file:, am
df = pd.read_csv('students.csv')

In [11]:
#This function doubles the input value 
def double(x):
  return 2*x

In [ ]:
#Apply the function to double every value in a specified column
df.column1 = df.column1.apply(double)

In [ ]:
# Lambda functions can also be supplied to `apply()`
df.column2 = df.column2.apply(lambda x : 3*x)

In [ ]:
# Applying to a row requires it to be called on the entire DataFrame
df['newColumn'] = df.apply(lambda row: 
  row['column1'] * 1.5 + row['column2'],
  axis=1
)

In [ ]:
# Specifying each value in the new column:
df['newColumn'] = [1, 2, 3, 4]

# Setting each row in the new column to the same value:
df['newColumn'] = 1

# Creating a new column by doing a 
# calculation on an existing column:
df['newColumn'] = df['oldColumn'] * 5